<style type="text/css" scoped>
body {
  background-color: #333;
  font-family: 'Lato';
}

html {
  position: relative;
  min-height: 100%;
}
</style>

<p class="gutter"></p>
<div class="row">

  <div class="col-lg-3 col-md-3 col-sm-3"></div>
  <div class="col-lg-6 col-md-6 col-sm-12">

    <div id="login-area">
      
      <div id="logo-area">
        <p>
          <i class="fa fa-user-secret"></i>
          <span>Disgui.se</span>
        </p>
      </div>
      
      <div id="inner-login-area">
        <div class="row">
          <div class="col-lg-1 col-md-1"></div>
          <div class="col-lg-10 col-md-10 col-sm-12">
            
            <p class="desc">
              Create lightweight disposable e-mail addresses<br/>
              <span>PROTECT YOUR PRIVACY</span>
            </p>
            
            <form id="login-form">
              <div class="disguise-input-group">
                <div class="input-field">
                  <input type="text" class="disguise-form-control" ng-model="user.username" placeholder="Username" />
                </div>
                <div class="label-field">
                  <span>@disgui.se</span>
                </div>
              </div>
              <input type="password" class="disguise-form-control" placeholder="Password" ng-model="password" />
              <input type="password" class="disguise-form-control" placeholder="Confirm Password" ng-model="confirm" ng-show="!loginMode" />
              <input type="submit" class="disguise-btn-primary" value="LOGIN" ng-click="login()"  ng-if="loginMode" />
              <input type="submit" class="disguise-btn-primary" value="REGISTER" ng-click="register()"  ng-if="!loginMode" />
            </form>
          </div>
          <div class="col-lg-1 col-md-1"></div>
        </div>
      </div>
      
      <p id="reg" ng-if="loginMode">Not registered? <a href="#" ng-click="changeMode()">Sign Up</a></p>
      <p id="reg" ng-if="!loginMode">Already registered? <a href="#" ng-click="changeMode()">Sign In</a></p>
      
    </div>
    
  </div>
  <div class="col-lg-3 col-md-3 col-sm-3"></div>

</div>








