<div id="message-list">
  <div style="text-align: center; margin-top: 15px;" ng-show="!messages || messages.length == 0">
    No messages found
  </div>
  <div id="message-item" 
        ng-repeat="message in messages" 
        ng-class="{'unread': !message.read, 'reading': reading(message.messageId)}">
    <a href="/mail/inbox/{{message.messageId}}">
      <div class="from">{{message.from[0].name || message.from[0].address}}</div>
      <div class="subject">{{message.subject}}</div>
    </a>
  </div>
</div>
<div id="message" ui-view></div>