<div id="message-list">
  <div id="message-item" ng-repeat="message in inbox">
    <a href="#/mail/inbox/{{message.messageId}}">
      <div class="from">{{message.from[0].name || message.from[0].address}}</div>
      <div class="subject">{{message.subject}}</div>
    </a>
  </div>
</div>
<div id="message">
  <div class="message-header">
    <h1>{{message.subject}}</h1>
    <span>From: {{message.from[0].name || message.from[0].address}}</span>
  </div>
  <div class="message-content" ng-bind-html="message.html"></div>
</div>