<div id="sidebar">
  <a ui-sref="home">
    <img src="img/logo/logo.png">
  </a>
  <p class="account">
    <span class="glyphicon glyphicon-user"></span>&nbsp;
    {{rootUser.username}}
    <a href="" ng-click="logout()"
               class="glyphicon glyphicon-log-out" 
               title="Log out" 
               style="float: right; margin-right: 15px; font-size: 15px; color: #fff; text-decoration: none;"></a>
  </p>
  <p class="divider"></p>
  <p>
    <a style="float: right; margin-right: 15px; color: #fff; text-decoration: none; font-size: 12px;" 
        href="" class="glyphicon glyphicon-refresh" ng-click="getUnread()">
    </a>
  </p>
  <div id="sidebar-menu">
    <a ui-sref="mail.compose" ui-sref-opts="{reload: true}">
      <p ng-class="{'highlight': highlight('/mail/compose')}">
        <span class="glyphicon glyphicon-edit"></span>&nbsp;
        <span>Compose</span>
      </p>
    </a>
    <a ui-sref="mail.inbox" ui-sref-opts="{reload: true}">
      <p ng-class="{'highlight': highlight('/mail/inbox')}">
        <span class="glyphicon glyphicon-inbox"></span>&nbsp;
        <span>Inbox</span>
        <span class="label label-primary" ng-show="unread || unread > 0">{{unread}}</span>
      </p>
    </a>
    <a ui-sref="mail.sent" ui-sref-opts="{reload: true}">
      <p ng-class="{'highlight': highlight('/mail/sent')}">
        <span class="glyphicon glyphicon-send"></span>&nbsp;
        <span>Sent</span>
      </p>
    </a>
  </div>
  <p class="divider"></p>
  <button style="width: 90%; border-radius: 6px;" ng-click="dispose()" class="btn btn-danger btn-sm">
    <span class="glyphicon glyphicon-trash"></span>
    <span>DISPOSE</span>
  </button>
</div>

<div id="mobile-sidebar">
  <a ui-sref="home">
    <img src="img/logo/logo-small.png">
  </a>
  <div>
    <p ng-class="{'highlight': highlight('/mail/compose')}">
      <a ui-sref="mail.compose" ui-sref-opts="{reload: true}">
        <span class="glyphicon glyphicon-edit"></span>
      </a>
    </p>
    <p ng-class="{'highlight': highlight('/mail/inbox')}">
      <a ui-sref="mail.inbox" ui-sref-opts="{reload: true}">
        <span class="glyphicon glyphicon-inbox"></span>
      </a>
    </p>
    <p ng-class="{'highlight': highlight('/mail/sent')}">
      <a ui-sref="mail.sent" ui-sref-opts="{reload: true}">
        <span class="glyphicon glyphicon-send"></span>
      </a>
    </p>
    <p>
      <a href="" ng-click="dispose()">
        <span class="glyphicon glyphicon-trash"></span>
      </a>
    </p>
  </div>

</div>

<div id="topbar">
  <div>
    <a ui-sref="home" style="float: left;">
      <img src="img/logo/logo-small.png">
    </a>
    <a href="" ng-click="dispose()">
      <span class="glyphicon glyphicon-trash"></span>
    </a>
    <a ui-sref="mail.sent" ui-sref-opts="{reload: true}">
      <span class="glyphicon glyphicon-send"></span>
    </a>
    <a ui-sref="mail.inbox" ui-sref-opts="{reload: true}">
      <span class="glyphicon glyphicon-inbox"></span>
    </a>
    <a ui-sref="mail.compose" ui-sref-opts="{reload: true}">
      <span class="glyphicon glyphicon-edit"></span>
    </a>
  </div>
</div>

<div id="main" ui-view></div>