<div class="actions">
  <div class="dropdown" style="display: inline;">
    <button class="btn btn-success btn-xs dropdown-toggle" type="button" id="menu1" data-toggle="dropdown">
      <span class="glyphicon glyphicon-repeat"></span>
      Reply
      <span class="caret"></span>
    </button>
    <ul class="dropdown-menu" role="menu" aria-labelledby="menu1">
      <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Reply</a></li>
      <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Reply All</a></li>
    </ul>
  </div>
  <button class="btn btn-primary btn-xs">
    <span class="glyphicon glyphicon-share-alt"></span>
    Forward
  </button>
  <button class="btn btn-danger btn-xs" ng-click="delete()">
    <span class="glyphicon glyphicon-trash"></span>
    Delete
  </button>
</div>

<div class="message-header">
  <h2>{{message.subject}}</h2>
  <span style="font-size: 13px;">
    From: {{message.from[0].name || message.from[0].address}} <br>
    Sent: {{message.headers.date}}
    <span ng-show="message.headers.cc">
      <br>
      Cc: {{message.headers.cc | stringify}} 
    <span>
    <span ng-show="message.headers.bcc">
      <br>
      Bcc: {{message.headers.bcc | stringify}}
    </span>
  </span>
</div>
<div class="message-content container-fluid" ng-bind-html="message.html"></div>
