@font-face {
  font-family: Raleway;
  src: url('../fonts/raleway/raleway_thin-webfont.woff');
}

.logo {
  width: 300px;
}

h2#desc {
  color: #F0E68C;
  font-family: Raleway, sans-serif;
  line-height: 1.4em;
  margin-top: 35px;
}

.required {
  color: #F0E68C;
  font-size: 12px;
}

.reglog {
  margin: auto;
  margin-top: 30px;
}

  .reglog button {
    margin-top: 5px;
    width: 100%;
  }

  .reglog input[type=password] {
    margin-top: 5px;
  }

footer p {
  color: #F0E68C;
  font-family: Raleway, sans-serif;
}


/* Mail View Styles */
#sidebar {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  width: 220px;
  background-color: #333;
  text-align: center;
}

.highlight {
  background-color: #000;
  color: #fff;
  font-weight: bold;
  border-left: 2px solid darkgoldenrod;
}

.divider {
  margin-top: 15px;
  margin-bottom: 15px;
  border-top: 1px solid #999;
  margin-left: 10px;
  margin-right: 10px;
}

.account {
  color: #ccc;
  font-family: Raleway;
  text-align: left;
  padding-left: 15px;
  padding-top: 10px;
  padding-bottom: 10px;
}

  .account:hover {
    color: #ccc;
    background-color: #222;
  }

  #sidebar img {
    margin-bottom: 15px;
  }

  #sidebar > a {
    text-decoration: none;
  }

  #sidebar #sidebar-menu {
    
  }

    #sidebar #sidebar-menu p {
      padding-top: 10px;
      padding-bottom: 10px;
      text-align: left;
      padding-left: 15px;
      font-size: 12px;
      font-weight: bold;
      margin-top: -10px;
    }

    #sidebar #sidebar-menu p:hover {
      background-color: #222;
      color: #fff;
    }

      #sidebar #sidebar-menu p span.label {
        float: right;
        margin-right: 10px;
        font-size: 12px;
      }

    #sidebar #sidebar-menu a {
      color: #fff;
      text-decoration: none;
      font-family: Raleway;
    }

#main {
  margin-left: 220px;
}

.page-header {
  font-family: Raleway;
  font-weight: bold;
}

/* Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) 
{   

  .reglog {
    width: 70%;
  }

    .reglog .left-button {
      padding-right: 1px;
    }

    .reglog .right-button {
      padding-left: 1px;
    }

  p.gutter {
    margin-top: 75px;
  }
}

/* Medium devices (desktops, 992px and up) */
@media (min-width: 992px) 
{  

  .reglog {
    width: 70%;
  }

    .reglog .left-button {
      padding-right: 1px;
    }

    .reglog .right-button {
      padding-left: 1px;
    }

  p.gutter {
    margin-top: 75px;
  }
}

/* Small devices (tablets, 768px and up) */
@media (min-width: 768px) 
{   

  .reglog {
    width: 70%;
  }

    .reglog .left-button {
      padding-right: 1px;
    }

    .reglog .right-button {
      padding-left: 1px;
    }
}