@font-face {
  font-family: Raleway;
  src: url('../fonts/raleway/raleway_thin-webfont.woff');
}

.logo {
  width: 300px;
}

.nopadding {
  padding: 0;
  margin: 0;
}

h2#desc {
  color: #F0E68C;
  font-family: Raleway, sans-serif;
  line-height: 1.4em;
  margin-top: 35px;
}

.required {
  color: #F0E68C;
  font-size: 12px;
}

.unread {
  background-color: #eee;
}

.reading {
  background-color: #337ab7; 
  color: white;
}

.reglog {
  margin: auto;
  margin-top: 30px;
}

  .reglog button {
    margin-top: 5px;
    width: 100%;
  }

  .reglog input[type=password] {
    margin-top: 5px;
  }

footer p {
  color: #F0E68C;
  font-family: Raleway, sans-serif;
}


/* Mail View Styles */


#topbar {
  display: none;
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  height: 35px;
  background-color: #333;
  color: #fff;
}

  #topbar > div {
    position: relative;
    margin-top: 3px;
    padding-left: 10px;
  }

    #topbar > div > a {
      padding: 5px;
      float: right;
      padding-right: 10px;
      color: #fff;
      text-decoration: none;
    }

#mobile-sidebar {
  display: none;
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  width: 50px;
  background-color: #333;
  color: #fff;
  text-align: center;
}

  #mobile-sidebar > div {
    margin-top: 35px;
  }

  #mobile-sidebar a {
    color: #fff;
    font-size: 16px;
  }

  #mobile-sidebar p {
    margin-top: 25px;
  }

#sidebar {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  width: 220px;
  background-color: #333;
  text-align: center;
  overflow-y: scroll;
}

.highlight {
  border-left: 3px solid darkgoldenrod;
}

.divider {
  margin-top: 15px;
  margin-bottom: 15px;
  border-top: 1px solid #999;
  margin-left: 10px;
  margin-right: 10px;
}

.account {
  color: #ccc;
  text-align: left;
  padding-left: 15px;
  padding-top: 10px;
  padding-bottom: 10px;
}

  .account:hover {
    color: #ccc;
    background-color: #222;
  }

  #sidebar img {
    margin-bottom: 15px;
  }

  #sidebar > a {
    text-decoration: none;
  }

  #sidebar #sidebar-menu {
    
  }

    #sidebar #sidebar-menu p {
      padding-top: 8px;
      padding-bottom: 8px;
      text-align: left;
      padding-left: 15px;
      font-size: 12px;
      margin-top: -10px;
    }

    #sidebar #sidebar-menu p:hover {
      background-color: #222;
      color: #fff;
    }

      #sidebar #sidebar-menu p span.label {
        float: right;
        margin-right: 10px;
        font-size: 12px;
      }

    #sidebar #sidebar-menu a {
      color: #fff;
      text-decoration: none;
    }

#main {
  position: relative;
  margin-left: 220px;
}

.page-header {
  font-family: Raleway;
  font-weight: bold;
}

#message-list {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 220px;
  width: 300px;
  background-color: #fff;
  border-right: 1px solid #ccc;
  overflow-y: scroll;
}

  #message-list #message-item {
    border-bottom: 1px solid #ccc;
    padding: 8px;
    width: 100%;
    font-family: sans-serif;
  }

    #message-list #message-item a {
      text-decoration: none;
      color: inherit;
    }

    #message-list #message-item .to, .from {
      white-space: nowrap;
      width: 100%;
      overflow: hidden;
      text-overflow: ellipsis;
      font-weight: 500;
    }

    #message-list #message-item .subject {
      white-space: nowrap;
      width: 100%;
      overflow: hidden;
      text-overflow: ellipsis;
      font-weight: 300;
    }

#message {
  margin-left: 300px;
}

  #message .message-header {
    border-bottom: 1px solid #ccc;
    padding-bottom: 10px;
  }

  #message .message-content {
    margin-top: 15px;
  }

/* Sidebar responsiveness */


@media screen and (max-width: 992px) {

  #sidebar {
    display: none;
  }

  #topbar {
    display: none;
  }

  #mobile-sidebar {
    display: block;
  }

  #main {
    margin-left: 50px;
  }

  #message-list {
    left: 50px;
  }

}

@media screen and (max-width: 768px) {

  #sidebar {
    display: none;
  }

  #mobile-sidebar {
    display: none;
  }

  #topbar {
    display: block;
  }

  #main {
    margin-left: 0px;
  }

  #message-list {
    left: 0px;
    width: 100%;
    max-height: 35%;
    margin-top: 35px;
    border-bottom: 2px solid #555;
  }

  #message {
    position: fixed;
    margin-top: 35px;
    top: 35%;
    bottom: 0;
    margin-left: 0px;
    overflow-y: scroll;
    padding-right: 15px;
  }

}

/* Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {   

  .reglog {
    width: 70%;
  }

    .reglog .left-button {
      padding-right: 1px;
    }

    .reglog .right-button {
      padding-left: 1px;
    }

  p.gutter {
    margin-top: 75px;
  }
}

/* Medium devices (desktops, 992px and up) */
@media (min-width: 992px) {  

  .reglog {
    width: 70%;
  }

    .reglog .left-button {
      padding-right: 1px;
    }

    .reglog .right-button {
      padding-left: 1px;
    }

  p.gutter {
    margin-top: 75px;
  }
}

/* Small devices (tablets, 768px and up) */
@media (min-width: 768px) {   

  .reglog {
    width: 70%;
  }

    .reglog .left-button {
      padding-right: 1px;
    }

    .reglog .right-button {
      padding-left: 1px;
    }
}